<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center frame-devise">
      <h3 class="devise-title font-weight-bold">新規登録</h3><br>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>


        <div class="field">
          <%= f.label :name, "名前", class: "col-lg-5 text-left" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-lg-5" %>
        </div><br>

        <div class="field">
          <%= f.label :email, class: "col-lg-5 text-left" %>
          <%= f.email_field :email, autocomplete: "email", class: "col-lg-5" %>
        </div><br>

        <div class="field">
          <%= f.label :password, "パスワード(6文字以上)", class: "col-lg-5 text-left" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "col-lg-5" %>
        </div><br>

        <div class="field">
          <%= f.label :password_confirmation, class: "col-lg-5 text-left" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-lg-5" %>
        </div><br>


        <div class="actions">
          <%= f.submit "登録する", class: "font-weight-bold btn btn-outline-secondary list btn-sm" %>
        </div>
      <% end %>

      <p class="devise-text">既に登録済みの方</p>
      <%= link_to "login", new_user_session_path, class: "devise-button btn btn-outline-secondary list btn-sm" %>

    </div>
  </div>
</div>